* {
  box-sizing: border-box;
}

header h1 {
  color: #d7d7d7;
  background-color: #9b9b9c;
}

header h2 {
  color: #d7d7d7;
  background-color: #9b9b9c;
}

header {
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #9b9b9c;
}

.flex {
  margin-top: 1vw;
  display: grid;
  place-items: center;
}

footer {
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #848484;
}

footer h4 {
  color: #d7d7d7;
  background-color: #848484;
}

h2 {
  color: #d7d7d7;
  text-align: center;
}

.container {
  display: grid;
  place-content: center !important;
}

#longText {
  max-width: 800px;
}
/* overall styling */
main {
  background-image: url("https://richardgreckijr.github.io/portfolioproject/images/wallpaper.jpg");
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
}

hr {
  max-width: 800px;
}

a:hover {
  background-color: #848484;
}

a:link {
  color: #d7d7d7;
}
a:visited {
  color: #d7d7d7;
}

/* to help with smaller devices */

@media only screen and (max-width: 900px) {
  main {
    padding: 100px;
  }
}

h3 {
  text-align: center;
  color: #d7d7d7;
}
