* {
  box-sizing: border-box;
}

header h1 {
  color: #d7d7d7;
  background-color: #9b9b9c;
}

header h2 {
  color: #d7d7d7;
  background-color: #9b9b9c;
}

header {
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #9b9b9c;
}

.flex {
  margin-top: 1vw;
  display: grid;
  place-items: center;
}

footer {
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #848484;
}

footer h4 {
  color: #d7d7d7;
  background-color: #848484;
}

h2 {
  text-align: center;
}

.container {
  display: grid;
  place-content: center !important;
}

#longText {
  max-width: 800px;
}

main {
  background-image: url("/images/wallpaper.jpg");
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
  font-family: "Noto Sans JP", sans-serif;
}

hr {
  max-width: 800px;
}

a:visited {
  color: #d7d7d7;
}

@media only screen and (max-width: 900px) {
  main {
    padding: 100px;
  }
}
